.default {
  position: relative;
  overflow: hidden;
  margin-bottom: 16px;
  border: 1px solid #185adb;
  border-radius: 56px;
  padding: 10px 54px 10px 10px;
  min-width: 264px;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 18px;
  line-height: 125%;
  background: #fff;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 44px;
    height: 44px;
    background: url("../../assets/images/plus.svg") no-repeat center center #185ADB;
  }

  &:hover {
    background: #185ADB;
    color: #fff;
    cursor: pointer;

    &::after {
      border-left: 1px solid #fff;
    }
  }

  &.active {
    border-color:  #C0C0C0;
    color: #808090;
    background: #E5E5E5;

    &::after {
      background-image: url("../../assets/images/check.svg");
      background-color: #E5E5E5;
      border-left: 1px solid #C0C0C0;
    }

    &:hover {
      color: #000222;

      &::after {
        background-image: url("../../assets/images/cancel.svg");
      }
    }
  }
}

.circle {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: auto;
  margin-left: auto;
  border: none;
  padding: 0;
  width: 117px;
  font-size: 11px;
  line-height: 135%;
  text-align: right;
  color: #888899;
  background: transparent;
  cursor: pointer;

  &::after {
    content: "";
    flex: 0 0 34px;
    margin-left: 16px;
    border: 1px solid #185adb;
    border-radius: 100%;
    width: 34px;
    height: 34px;
    background: url("../../assets/images/plusSmall.svg") no-repeat center center #fff;
  }

  &:hover {
    &::after {
      background-image: url("../../assets/images/plusSmallHover.svg");
      background-color: #185adb;
    }
  }

  &.active {
    &::after {
      border-color: #c0c0c0;
      background-image: url("../../assets/images/check.svg");
      background-color: #e5e5e5;
    }

    &:hover {
      &::after {
        background-color: #fff;
        background-image: url("../../assets/images/cancelSmall.svg");
      }
    }
  }
}

.special {
  background: #FFEE00;
  border-radius: 33px;
  border: none;
  padding: 9px;
  font-weight: 800;
  font-size: 14px;
  line-height: 130%;
  cursor: pointer;
}

@media (max-width: 767px) {
  .default {
    width: 100%;
  }
}
