.scheduleList {
  overflow: hidden;
  border-radius: 24px;
  background: #fff;
}

.day {
  margin-bottom: 8px;

  .head {
    display: flex;
    padding: 13px 32px;
    font-size: 24px;
    line-height: 125%;
    background: #e5e5e5;

    .date {
      margin-right: 12px;
      border-right: 1px solid #000222;
      padding-right: 12px;
    }
  }

  .item {
    padding: 40px 32px;

    :global {
      .swiper {
        overflow: visible;

        .swiper-button-next,
        .swiper-button-prev {
          width: 40px;
          height: 56px;
          background: #E5E5E5;
        }

        .swiper-button-next {
          right: -32px;
          border-radius: 6px 0 0 6px;

          &::after {
            content: '';
            width: 8px;
            height: 16px;
            background: url("../../assets/images/arrow.svg") no-repeat center center;
          }
        }

        .swiper-button-prev {
          left: -32px;
          border-radius: 0 6px 6px 0;

          &::after {
            content: '';
            width: 8px;
            height: 16px;
            background: url("../../assets/images/arrow.svg") no-repeat center center;
            transform: rotate(180deg);
          }
        }
      }
    }

    > .description {
      display: flex;
      margin-bottom: 36px;

      .time {
        flex: 0 0 137px;
        margin-right: 32px;
        font-weight: 800;
        font-size: 30px;
        line-height: 125%;

        sup {
          font-size: 16px;
        }
      }

      .info {
        margin-right: 40px;

        .title {
          margin-bottom: 14px;
          font-weight: bold;
          font-size: 16px;
          line-height: 130%;
        }

        .text {
          margin-bottom: 14px;
          font-size: 16px;
          line-height: 155%;
        }

        .program {
          .accordion {
            border: none;
            border-radius: 6px;
            padding: 4px 20px;
            font-size: 14px;
            line-height: 130%;
            background: #f0f0f0;
            cursor: pointer;

            &.open {
              border-radius: 6px 6px 0 0;
            }
          }

          .description {
            padding: 24px;
            border-radius: 0 6px 6px 6px;
            background: #F0F0F0;
          }
        }
      }

      .add {
        .text {
          font-size: 14px;
          line-height: 130%;
          text-align: center;
        }
      }
    }

    > .text {
      position: relative;
      margin-bottom: 36px;
      font-size: 16px;
      line-height: 130%;
      color: #E5E5E5;

      span {
        position: relative;
        z-index: 10;
        padding-right: 24px;
        background: #fff;
      }

      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        z-index: 0;
        width: 100%;
        height: 1px;
        background: #E5E5E5;
        transform: translateY(-50%);
      }
    }

    .speakers {
      .speaker {
        display: flex;
        align-items: flex-start;

        .image {
          margin-right: 16px;
        }

        .title {
          margin-bottom: 4px;
          font-weight: 800;
          font-size: 16px;
          line-height: 130%;
        }

        .description {
          font-size: 11px;
          line-height: 135%;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .day {
    .item {
      position: relative;
      padding-bottom: 148px;

      .description {
        .info{
          margin-right: 0;
        }
  
        .add {
          position: absolute;
          left: 0;
          bottom: 24px;
          width: 100%;
          padding: 0 32px;
          box-sizing: border-box;
        }
      }
    }
  }
}

@media (max-width: 566px) {
  .day {
    .head {
      font-size: 18px;
    }

    .item {
      padding: 32px 24px 148px;

      .description {
        flex-direction: column;

        .time {
          flex: auto;
          margin-right: 0;
          margin-bottom: 12px;
          font-size: 24px;

          sup {
            font-size: 14px;
          }
        }

        .info {
          .title {
            margin-bottom: 12px;
            font-size: 14px;
            font-weight: 800;
          }
          
          .text {
            font-size: 14px;
            margin-bottom: 12px;
          }
        }
      }

      > .text {
        margin-bottom: 30px;
        padding-top: 10px;
        font-size: 14px;
        border-top: 1px solid #E5E5E5;

        span {
          padding-right: 0;
        }

        &::after {
          display: none;
        }
      }
    }
  }
}
