.order {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 69px;

  .title {
    margin-right: 25px;
    font-size: 18px;
    line-height: 125%;
    color: #888;
  }

  .weeks {
    display: flex;
    column-gap: 16px;
    margin: 0;
    padding: 0;

    .week {
      list-style: none;
      border-radius: 20px;
      padding: 5px 9px;
      font-size: 16px;
      line-height: 130%;
      color: #191919;
      background: #fff;

      &:hover {
        cursor: pointer;
      }

      &.activeWeek, &:hover {
        color: #FFFFFF;
        background: #185ADB;
      }
    }
  }
}

.scheduleTable {
  display: flex;
  column-gap: 8px;
  flex-wrap: wrap;
  justify-content: center;

  .day {
    flex: 0 1 217px;
    overflow: hidden;
    border-radius: 20px;
    background: #fff;

    .head {
      padding: 12px 24px;
      font-size: 14px;
      line-height: 130%;
      background: #E5E5E5;
    }

    .item {
      display: flex;
      flex-direction: column;
      padding: 20px;
      height: 274px;
      box-sizing: border-box;

      &:not(:last-child) {
        border-bottom: 2px solid #F5F5F5;
      }

      .time {
        position: relative;
        margin-bottom: 8px;
        font-weight: 800;
        font-size: 16px;
        line-height: 130%;
        color: #191919;

        .live {
          position: absolute;
          right: 0;
          top: 8px;
          display: flex;
          font-size: 11px;
          line-height: 1;
          color: #ff0011;

          &::before {
            content: "";
            margin-right: 5px;
            border-radius: 100%;
            width: 11px;
            height: 11px;
            background: #ff0011;
          }
        }
      }

      .place {
        margin-bottom: 8px;
        font-weight: 600;
        font-style: italic;
        font-size: 11px;
        line-height: 130%;
        color: #185adb;
      }

      .description {
        overflow: hidden;
        margin-bottom: 22px;
        max-height: 119px;
        font-size: 13px;
        line-height: 130%;
      }

      &.notFilled {
        .time {
          color: #E5E5E5;
        }
      }
    }

    &.specialDay {
      .head {
        font-weight: 800;
        background: #FFEE00;
      }
    }
  }
}
